service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- <definitions> must be the root of the WSDL document -->
<wsdl:definitions targetNamespace="http://tempuri.org/" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
  xmlns:tns="http://tempuri.org/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <!-- WSDL TYPES: definition of the data types that are used in the web service -->
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
    <!-- Shemach -->
      <xsd:element name="Shemach">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ID" type="xsd:positiveInteger"/>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="FamilyNo" type="xsd:positiveInteger"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Shemachs">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:Shemach" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetShemach">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ID" type="xsd:positiveInteger"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- Product -->
      <xsd:element name="Product">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ProductType" type="xsd:string"/>
            <xsd:element name="Quantity" type="xsd:positiveInteger"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Products">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:Product" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetProduct">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ProductType" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- Quota -->
      <xsd:element name="Quota">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FamilyQuota" type="xsd:positiveInteger"/>
            <xsd:element name="QuotaType" type="xsd:string"/>
            <xsd:element name="Quantity" type="xsd:positiveInteger"/>
            <xsd:element name="Price" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Quotas">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:Quotas" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetQuota">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="QuotaType" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- User -->
      <xsd:element name="User">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="UserType" type="xsd:string"/>
            <xsd:element name="Username" type="xsd:string"/>
            <xsd:element name="Password" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Username" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <!-- MESSAGES: defines the data being exchanged between the service and client -->
  <!-- Shemach -->
  <wsdl:message name="AddShemachRequest">
    <wsdl:part name="parameters" element="tns:Shemach"/>
  </wsdl:message>
  <wsdl:message name="AddShemachResponse">
    <wsdl:part name="parameters" element="tns:Shemach"/>
  </wsdl:message>
  <wsdl:message name="GetShemachRequest">
    <wsdl:part element="tns:GetShemachs" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetShemachResponse">
    <wsdl:part element="tns:Shemachs" name="parameters"/>
  </wsdl:message>
  <!-- product -->
  <wsdl:message name="AddProductRequest">
    <wsdl:part name="parameters" element="tns:Product"/>
  </wsdl:message>
  <wsdl:message name="AddProductResponse">
    <wsdl:part name="parameters" element="tns:Product"/>
  </wsdl:message>
  <wsdl:message name="GetProductRequest">
    <wsdl:part element="tns:GetProduct" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetProductResponse">
    <wsdl:part element="tns:Products" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UpdateProductResponse">
    <wsdl:part element="tns:Product" name="parameters"/>
  </wsdl:message>
  <!-- User -->
  <wsdl:message name="AddUserRequest">
    <wsdl:part name="parameters" element="tns:User"/>
  </wsdl:message>
  <wsdl:message name="AddUserResponse">
    <wsdl:part name="parameters" element="tns:User"/>
  </wsdl:message>
  <wsdl:message name="GetUserRequest">
    <wsdl:part element="tns:GetUser" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetUserResponse">
    <wsdl:part element="tns:User" name="parameters"/>
  </wsdl:message>
  <!-- Quota -->
  <wsdl:message name="GetQuotaRequest">
    <wsdl:part element="tns:GetQuota" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetQuotaResponse">
    <wsdl:part element="tns:Quota" name="parameters"/>
  </wsdl:message>
  <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
  <wsdl:portType name="ShemachSoapPort">
    <!-- The operation name must be the same as the one specified in the service object -->
    <wsdl:operation name="AddShemach">
      <wsdl:input message="tns:AddShemachRequest"/>
      <wsdl:output message="tns:AddShemachResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetShemach">
      <wsdl:input message="tns:GetShemachRequest"/>
      <wsdl:output message="tns:GetShemachResponse"/>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input message="tns:AddProductRequest"/>
      <wsdl:output message="tns:AddProductResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <wsdl:input message="tns:GetProductRequest"/>
      <wsdl:output message="tns:GetProductResponse"/>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <wsdl:input message="tns:GetProductRequest"/>
      <wsdl:output message="tns:UpdateProductResponse"/>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input message="tns:AddUserRequest"/>
      <wsdl:output message="tns:AddUserResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input message="tns:GetUserRequest"/>
      <wsdl:output message="tns:GetUserResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetQuota">
      <wsdl:input message="tns:GetQuotaRequest"/>
      <wsdl:output message="tns:GetQuotaResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
  <wsdl:binding name="ShemachServiceSoapBinding" type="tns:ShemachSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <!-- Shemach  -->
    <wsdl:operation name="AddShemach">
      <soap:operation soapAction="AddShemach" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShemach">
      <soap:operation soapAction="GetShemach" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <!-- Product -->
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="AddProduct" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <soap:operation soapAction="GetProduct" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap:operation soapAction="UpdateProduct" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <!-- User -->
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="AddUser" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="GetUser" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <!-- Quota -->
    <wsdl:operation name="GetQuota">
      <soap:operation soapAction="GetQuota" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <!-- SERVICE:  -->
  <wsdl:service name="ShemachService">
    <wsdl:port name="ShemachServiceSoapPort" binding="tns:ShemachServiceSoapBinding">
      <soap:address location="http://localhost:5001/book"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>